@import "tailwindcss";

:root {
  --background: #90CCC5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #90CCC5;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-with-underline > * { 
  position: relative;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em; 
}

.text-with-underline > *::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; 
  background-color: rgba(71, 85, 105, 0.7) 
}


.left-button {
  width: 71px;
  height: 71px;
  background-color: #3498db;
  border-radius: 0 30% 0 30%;
  transform: rotate(45deg);
  margin: 50px;
}

.shadow-custom {
  box-shadow: 6px -6px 0px 6px rgba(40, 49, 60, 0.7) ;
}

.shadow-project-card {
  box-shadow: 6px 6px 0px 6px rgba(40, 49, 60, 0.7) ;
}

.shadow-weak {
  box-shadow: 6px -5px 0px 7px rgba(40, 49, 60, 0) ;
}

.svg-shadow {
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.4));
}

.svg-shadow:hover {
  filter: drop-shadow(0px 8px 0px rgba(0, 0, 0, 0.4));
}

.inner-shadow {
  box-shadow: inset  -1px 1px 0px 1px rgba(0, 0, 0, 0.5)
}

.inner-shadow-mobile {
  box-shadow: inset  2px 2px 0px 2px rgba(0, 0, 0, 0.4)
}

.inner-shadow-button {
  box-shadow: inset  -1px 1px 0px 1px rgba(0, 0, 0, 0.5)
}

.inner-shadow-button:hover {
  box-shadow: inset  -2px 2px 0px 2px rgba(0, 0, 0, 0.5)
}

.postit-shadow {
  filter: drop-shadow(4px 0px 0px rgba(0, 0, 0, 0.5));
}

.postit-shadow:hover {
  filter: drop-shadow(8px 0px 0px rgba(0, 0, 0, 0.5));
}

.shadow-nav {
  box-shadow: 6px -6px 0px 6px rgba(0, 0, 0, 0.6) ;
}


.shadow-folder {
  box-shadow: 6px -6px 0px 6px rgba(0, 0, 0, 0.6) ;
}

.inner-shadow-image-card {
  box-shadow: inset  -1px 1px 0px 1px rgba(0, 0, 0, 0.4)
}

.font-libre-baskerville {
  font-family: var(--font-libre-baskerville);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-work-sans {
  font-family: var(--font-work-sans);
}

.font-space-mono {
  font-family: var(--font-space-mono);
}

.font-permanent-marker {
  font-family: var(--font-permanent-marker)
}